<script type="text/javascript" src="/js/index.min.js"></script>

<footer class="footer flex">
  <span class="text-center bg-gray-800 p-4 text-white w-screen">
    &copy; <script>document.write(new Date().getFullYear())</script> Hospital TBD. Todos os direitos reservados.    
  </span>
</footer>
